@import '~@openmrs/style-referenceapplication/src/sass/fragments/grid';

.grid-row {
    @include row();
}

.button-row {
    @include row();
    margin-top: 1%;
}

@for $i from 1 through 12 {
    .column-#{$i} {
        @include column($i);
        margin-right: 1em;
    }
}

@for $i from 1 through 12 {
    .pull-right-#{$i} {
        @include push($i);
    }
}

