<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Order Entry</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="card">
          <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="standard-tab" data-toggle="pill" href="#standard" role="tab" aria-controls="standard" aria-selected="false">Standard Dosing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="free-tab" data-toggle="pill" href="#free" role="tab" aria-controls="free" aria-selected="false">Free Text</a>
              </li>
              </li>
            </ul>
            <br>

            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade" id="free" role="tabpanel" aria-labelledby="free-tab">
                <form>
                  <div class="row">
                    <div class="col-sm-11">
                      <div class="form-group">
                        <label for="instructions">Completete Instructions:</label>
                        <textarea class="form-control" rows="5" id="instructions"></textarea>
                      </div>
                    </div>
                  </div>
                </form>

                <div class="row">
                  <div class="col-sm-3 text-left">
                    <button type="button" class="btn btn-danger">Cancel</button>
                  </div>
                  <div class="col-sm-3 col-sm-offset-5 text-right">
                    <button type="button" class="btn btn-success">Save</button>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="standard" role="tabpanel" aria-labelledby="standard-tab">
                <form>
                  <div class="row">
                    <div class="col-sm-1">
                      <div class="form-group">
                        <label for="dose">Dose</label>
                        <input type="text" class="form-control" id="dose">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="unit">Unit</label>
                        <select class="form-control" id="unit">
                          <option>mg</option>
                          <option>ml</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="frequency">Frequency</label>
                        <select class="form-control" id="frequency">
                          <option>Once a day</option>
                          <option>Twice a day</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="route">Route</label>
                        <select class="form-control" id="route">
                          <option>Oral</option>
                          <option>Inhalation</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-1">
                      <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="text" class="form-control" id="duration">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="days"></label>
                        <select class="form-control" id="days">
                          <option>Days</option>
                          <option>Weeks</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="needed">Needed for</label>
                        <input type="text" class="form-control" id="needed">
                      </div>
                    </div>
                    <div class="col-sm-2 text-right">
                      <medium class="form-text "> Dispense: </medium>
                    </div>
                    <div class="col-sm-1">
                      <div class="form-group">
                        <label for="dose">Dose</label>
                        <input type="text" class="form-control" id="dose">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="unit">Unit</label>
                        <select class="form-control" id="unit">
                          <option>mg</option>
                          <option>ml</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2">
                      <medium class="form-text"> Start Date: </medium>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-2">
                      <div class="form-check text-right">
                        <input class="form-check-input" type="radio" name="today" id="today" value="option1" checked>
                        <label class="form-check-label text-right" for="today">
                          Today
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-check text-right">
                        <input class="form-check-input" type="radio" name="otherDate" id="otherDate" value="option2">
                        <label class="form-check-label text-right" for="otherDate">
                          Other Date
                        </label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                          <input type='text' class="form-control" />
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-11">
                      <div class="form-group">
                        <label for="notes">Notes:</label>
                        <textarea class="form-control" rows="4" id="notes"></textarea>
                      </div>
                    </div>
                  </div>
                </form>

                <div class="row">
                  <div class="col-sm-3 text-left">
                    <button type="button" class="btn btn-danger">Cancel</button>
                  </div>
                  <div class="col-sm-3 col-sm-offset-5 text-right">
                    <button type="button" class="btn btn-success">Save</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
