<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Order Entry</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <section class="col-lg-10 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-1" style="padding-right:0">
            <h4> Jane Doe </h4>
          </div>
          <div class="col-lg-1 text-right" style="margin-top: 10px; padding-left:0">
            <p> Female </p>
          </div>
          <div class="col-lg-2" style="margin-top: 10px; padding-left:0; padding-right:0">
            <p> 25 year(s) (16.Mar.1992) </p>
          </div>
          <div class="col-lg-3" style="margin-top: 10px; padding-left:0; padding-right:0">
            <a style="padding-right: 4px"> Edit </a>
            <a> Show Contact Info </a>
          </div>
          <div class="col-lg-1 text-right" style="margin-top: 10px">
            <p> Patient ID </p>
          </div>
          <div class="col-lg-1 text-left" style="margin-top: 10px">
            <p> 0957402 </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1">
            <a href="#">
              <i class="fas fa-sticky-note"></i>
            </a>
          </div>
        </div>
      </section>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-2">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="out-tab" data-toggle="pill" href="#out" role="tab" aria-controls="out" aria-selected="false">Outpatient</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="in-tab" data-toggle="pill" href="#in" role="tab" aria-controls="in" aria-selected="false">Inpatient</a>
          </li>
          </li>
        </ul>
        <br>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade" id="in" role="tabpanel" aria-labelledby="in-tab">
            <form class="form-horizontal">
              <div class="row">
                <div class="col-lg-10">
                  <div class="form-group">
                    <label class="control-label col-lg-2" for="search">New order for:</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" id="search">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="tab-pane fade" id="out" role="tabpanel" aria-labelledby="out-tab">
            <form class="form-horizontal">
              <div class="row">
                <div class="col-lg-10">
                  <div class="form-group">
                    <label class="control-label col-lg-2" for="search2">New order for:</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" id="search2">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h4> Active Orders </h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center" style="width:12%">Date</th>
                <th class="text-center" style="width:40%">Details</th>
                <th class="text-center" style="width:12%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Mary</td>
                <td>
                  <table class="table" style="margin-bottom:0; border-top: 0 !important">
                    <tbody>
                      <tr>
                        <td> Oral </td>
                        <td> Sometthing </td>
                        <td> Nothing </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>mary@example.com</td>
              </tr>
            </tbody>
          </table>
          <span>
            <div class="row">
              <div class="col-lg-3">
                <p> Showing 1 to 3 of 3 entries </p>
              </div>
              <div class="col-lg-4 col-lg-offset-5 text-right">
                <p> Previous 1 Next Last</p>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h4> Past Orders </h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center" style="width:12%">Date</th>
                <th class="text-center" style="width:40%">Details</th>
                <th class="text-center" style="width:12%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mary</td>
                <td>
                  <table class="table" style="margin-bottom:0; border-top: 0 !important">
                    <tbody>
                      <tr>
                        <td> Oral </td>
                        <td> Sometthing </td>
                        <td> Nothing </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <a href="#">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a href="#">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <span>
            <div class="row">
              <div class="col-lg-3">
                <p> Showing 1 to 3 of 3 entries </p>
              </div>
              <div class="col-lg-4 col-lg-offset-5 text-right">
                <p> Previous 1 Next Last</p>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
