.set-header {
    background-color: lightgray;
    padding-left: 15px; 
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.set-details {
    border: none;
    border-bottom: 1px solid lightgray;
}
.set-details-header {
    text-align: left;
    border: none;
}

.set-actions-header {
    text-align: right;
    border: none;
}

